.mainCtn{
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.inputWrapper{
    height: fit-content;
    width: 76%;
    border-radius: 50px;
    background-color: #2A2A2C;
    padding: 0px 10px;
}
.input{
    height: auto;
    flex: 1;
    border-radius: 50px;
    padding: 20px;
    border: none;
    outline: none;
    background-color: #2A2A2C;
    font-size: 1.4em;
    color: aliceblue;
}
.button{
    padding: 10px 10px 10px 14px;
    background-color: #00A680;
    border-radius: 50%;
    border: none;
    outline: none;
}
.sendIcon{
    font-size: 33px !important;
}
@media (max-width: 750px) {
  .button{
    
  }
  .inputWrapper{
    padding: 0 5px;
  }
  .input{
    font-size: 1.1em;
  }
}