.main{
    height: 8%;
    width: 100%;
    background-color: #0f493f;
    display: flex;
    gap: 20px;
    padding-left: 8px;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.profile{
    padding: 5px;
    background-color: #54726d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    height: 70px;
    display: flex;
    align-items: center;
    font: 1.2em sans-serif ;
    color: #ffffff; 
    opacity: 0.7;
    flex: 1;
}
.more{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personIcon{
    font-size: 50px !important;
    color: white;
    opacity: 0.7;
}
.deleteOutlineIcon{
    font-size: 40px !important;
    color: white;
    opacity: 0.7;
}
@media (max-width: 750px) {
    .personIcon , .deleteOutlineIcon{
        font-size: 40px !important;
    }
    .name{
        font: 1em sans-serif;
    }
}